main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

form>div {
  display: flex;
  flex-direction: column;
}

section:last-child {
  width: 50%;
  align-self: center;
}

section>div {
  margin-bottom: 4em;
}

h1 {
  display: grid;
  justify-items: right;
  margin: 1.5em 4em;
}

label {
  margin: 1em 0 0.5em 0;
}

section>a {
  color: #000;
  font-size: 1.5em;
}

button {
  display: grid;
  align-items: center;
  background-color: #4FB286;
  opacity: 0.8;
  border: none;
  color: #fff;
  padding: 1em;
  margin-top: 2em;
  font-size: 1em;
}

#button {
  text-align: center;
}