body {
  margin: 0 0 2em 0;
  font-family: 'Century Gothic', sans-serif;
}

header {
  font-size: 1.25em;
  background-color: #4FB286;
  position: fixed;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 3em;
  width: 50%;
}

nav {
  display: flex;
  gap: 3em;
}

main>div {
  font-size: 2em;
  text-transform: uppercase;
  padding: 2em;
}

section:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5em;
  gap: 10em;
}

#bio {
  width: 50%;
}

section:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project {
  border: 1px solid #000;
  width: 400px;
}

.project-title-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.project-title {
  text-transform: uppercase;
  font-size: 1.5em;
}

header p {
  color: #fff;
}

header a {
  text-decoration: none;
  color: #fff;
}