body {
  margin: 0;
  font-family: 'Century Gothic', sans-serif;
  background-color: #F8FFF4;
}

header {
  font-size: 1.25em;
  background-color: #4FB286;
  position: fixed;
  top: 0;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 3em;
  width: 50%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #4FB286;
  color: #fff;
  padding: 1.5em 2em;
  margin-top: 4em;
}

nav {
  display: flex;
  gap: 3em;
}

.bio {
  width: 50%;
}

.project {
  border: 1px solid #000;
  width: 400px;
}

.project-title-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

header p,
header a {
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
}