section:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

#future-projects {
  width: 50%;
  border: 1px solid #4FB286;
  display: grid;
  justify-items: center;
}

#future-projects-list {
  padding: 0.5em;
  font-size: 1.1em;
}

section:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  display: grid;
  justify-items: right;
  margin: 1.5em;
}