body {
  margin: 0;
  font-family: 'Century Gothic', sans-serif;
  background-color: #F8FFF4;

  @media screen and (max-width: 767px) {
    padding-top: 1.5em;
  }
}

header {
  font-size: 1.25em;
  background-color: #A4D8BD;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 3em;
  width: 50%;
  z-index: 1;

  @media screen and (max-width: 767px) {
    padding: 1.5em 0.5em;
    font-size: 1.1em;
    justify-content: space-around;

  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #4FB286;
  color: #fff;
  padding: 1.5em 2em;
  margin-top: 4em;
}

nav {
  display: flex;
  gap: 3em;

  @media screen and (max-width: 767px) {
    gap: 1em;
  }
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition-duration: 0.1s;
}

h2+p {
  margin-top: 0;
}

header p,
header a {
  color: #fff;
}

svg {
  margin-left: 0.5em;
}

a {
  text-decoration: none;
}

a:hover,
svg:hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
}

/* index.html */

.bio {
  width: 50%;

  @media screen and (max-width: 767px) {
    width: 90%;
  }
}

.project {
  border: 1px solid #000;
  width: 400px;
}

.project-title-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

#bio-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5em;
  gap: 10em;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

#project-container,
section:has(>.skills) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
}

/* about.html */

.skills {
  border: 2px solid #000;
  width: 30%;
  text-align: center;
}

section a {
  color: #000;
  font-size: 1.5em;
}

/* projects.css */

#future-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

#future-projects {
  width: 50%;
  border: 1px solid #4FB286;
  display: grid;
  justify-items: center;
}

#future-projects-list {
  padding: 0.5em;
  font-size: 1.1em;
}

.small-project-description {
  text-align: justify;
}

.lone-title {
  display: grid;
  justify-items: right;
  margin: 1.5em;

  @media screen and (max-width: 767px) {
    padding-top: 2em;
  }
}

/* contact.html */

#contact-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#github-issues {
  width: 50%;
  align-self: center;
}

#github-issues>div {
  margin-bottom: 4em;
}

#contact-title {
  margin-right: 4em;
}

label {
  margin: 1em 0 0.5em 0;
}

.input {
  display: flex;
  flex-direction: column;
}

button {
  display: grid;
  align-items: center;
  background-color: #4FB286;
  opacity: 0.8;
  border: none;
  color: #fff;
  padding: 1em;
  margin-top: 2em;
  font-size: 1em;
}

#button {
  text-align: center;
}

/* burger menu */

#hidden {
  display: none;
}

#hidden+label {
  @media screen and (max-width: 767px) {
    display: inline-block;
    content: "";
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-image: url(/assets/img/burger.png);
  }
}

#hidden:checked+label {
  @media screen and (max-width: 767px) {
    display: inline-block;
    content: "";
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-image: url(/assets/img/burger.png);
  }
}

#hidden~a {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

nav:has(>#hidden:checked),
#hidden:checked~a {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}